.about-us {
    color: #a10101; /* Background color */
    position: relative;
    
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 1;
  }
  
  .about-us h1 {
    color: #a10101;
    margin-left: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 51px;
    font-weight: 600;
    line-height: 61.72px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  