.faq-image-container {
    width: 341px;
    height: 375px;
    margin-left: 20px;
  }
  
  .thinking-image {
    width: 100%; /* Ensure it fits the container */
    height: 100%;
    object-fit: contain;
    opacity: 1; /* Adjust opacity if required */
  }
  